<main id="main" role="main">
    <article id="page-" class="post article white-box article-type-page fade-in-top" itemscope="" itemprop="blogPost">
        <section class="post-header article-header">
            <h2 class="title">
                <a href="www.halu886.com/index.html">
                    About
                </a>
            </h2>
        </section>
        <section class="content">
            <div class="article-entry" itemprop="articleBody">
                <p>我是halu（阿春），NodeJs开发工程师，目前所在的开发团体20人左右，负责一个基础组件和一个业务应用</p>
                <p>沉迷编程，现阶段主要是用Javascript作为开发语言实现各种各样的需求，同时也在尝试在某一些场景使用C++，从而弥补NodeJs在部分场景下的缺陷。崇尚开源，2019年计划实现一个好用的库，为目前所在的生态贡献自己的一份力。
                </p>
                <p>一直认同行为改变不了一个人，习惯才可以。在业余经营自己的blog，主要范围为工作中的任务的复盘，以及各种书单阅后的总结。范围比较杂，设计模式，RabbitMQ，Javascript，Vi，NodeJs，Git，详情见
                    <a href="http://blog.halu886.cn">blog</a>:)。输出稳定在一周一篇的节奏上。</p>
                <p>接触过很多技术栈，但是现阶段非常看好NodeJs，同时计划今年继续深入学习，能够让自己更加有底气的和同事们安利。保持自己对各种各样的技术充满好奇心，并且持续学习。干一行爱一行，互联网寒冬下也能够拥有自己的价值。
                </p>
                <p>欢迎用邮件联系我！ halu886@qq.com。</p>

            </div>
        </section>
    </article>

</main>